.us{
   position: relative;
   right:100px;
   /* width: 100%; */
  

}
h1{
   position: relative;
   bottom:100px;
   right:950px;
}
p{
   position: relative;
   left:800px;
   bottom:850px;
}
.words{
   font-size:20px;
}
